/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
./dist
.env

.vscode/*
/.junie/

# Added to keep repo clean for a generic TS/Express template
# Ignore build output
dist/
# Ignore coverage from tests
coverage/
# Ignore environment files
.env
